.page {
	overflow-x: scroll;
	overflow-y: scroll;
}

#main {
	width: 85%;
	height: 85%;
	background-color: #A4C652;
}

/*.action-button {
	color: white;
	text-align: center;
	background-color: #288EC8;
	border-radius: 16px;
	padding: 10px 20px;
	border: none;
<<<<<<< HEAD
	font-size: 120%;
}
=======
}*/
>>>>>>> 4443d1aaa9261eca098ee43b18b75f5e25546a20

/*.action-button:hover {
	background-color: #A9A9A9;
}
*/
